
.footer-container {
    height: 5%;
    min-width: 100%;
    display: flex;
    background-color: rgb(170, 170, 170);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-weight: bold;
}