
.footer-container {
    height: 5%;
    min-width: 100%;
    display: flex;
    background-color: rgb(170, 170, 170);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-weight: bold;
    font-size: 1em;
    transition: all 0.3s ease;
}

@media (max-width: 600px){
    .footer-text{
        font-size: 0.8em;
    }
}
@media (min-width: 601px){
    .footer-text{
        font-size: 1.3em;
    }
}

@media (min-width: 1900px){
    .footer-text{
        font-size: 2em;
    }
}

@media (min-width: 2540px){
    .footer-text{
        font-size: 3em;
    }
}

@media (min-width: 3200px){
    .footer-text{
        font-size: 4em;
    }
}

@media (min-width: 3800px){
    .footer-text{
        font-size: 4em;
    }
}