
.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow:hidden;
    background-color: rgb(196, 196, 196);
}

.contents-container {
    background-color: #dedede;
    box-sizing: border-box;
    display: flex;
    flex-Direction: column;
    align-Items: center;
    height: fit-content;
    width: 100%;
    max-width: 60%;
    text-Align: center;
    padding: 30px;
    margin: 30px;
    align-self: normal;
    border-Radius: 20px;
    transition: 'all 0.3s ease-in-out';
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
}


.contents-container {
        background-color: #dedede;
        box-sizing: border-box;
        display: flex;
        flex-Direction: column;
        align-Items: center;
        height: fit-content;
        width: 100%;
        max-width: 60%;
        text-Align: center;
        padding: 30px;
        margin: 30px;
        align-self: normal;
        border-Radius: 20px;
        transition: 'all 0.3s ease-in-out';
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
    }
    .textbox {
        margin: 0.1em;
        height: 2.5em;
        padding: 0.15em;
        border-Radius: 0.3em;
        font-Size: 2.5vw;
        outline: none;
    }
    .button{
        background-color: rgb(203, 203, 203);
        height: 2.5em;
        padding: 0.15em;
        border-radius: 0.3em;
        font-Size: 2.5vw;
        margin: 0.1em;
        outline: none;
    }

    

    .endgame-row-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
    }
    
.endgame-col-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.endgame-row-container-text {
    padding: 1rem;
}

.title{
    font-weight: bold;
    font-size: 1.8em;
}

.button:hover{
    background-color: rgb(186, 186, 186);
    transform: scale(1.05);
}

.submit-button {
    width: 4.5em;

}


.create-lobby-button {
    width: 8em;
}

.ready-up-button{
    width: 5em;
}

.lobby-textbox{
    width: 12em;
}

.nickname-textbox{
    width: 16.7em;
}

.player{
    border-radius: 0.3em;
    padding: 0.2em 1em;
    color: white;
    font-size: 1.1em;
}
.unready-player{
    background-color: red;
    transform: scale(1.05);
}

.ready-player{
    background-color: green;
    transform: scale(1.05);
}

.warning-message{
    background-color: rgb(210, 140, 30);
    color: white;
    padding: 0.2em 1em;
    border-radius: 0.3em;
    font-weight: bold;
}

.error-message{
    background-color: red;
    color: white;
    padding: 0.2em 1em;
    width: 100%;
    max-width: fit-content;
    margin: 0.4em;
    border-radius: 0.3em;
    font-weight: bold;
    font-size: 0.7em;
}

.body-text{
    font-size: 1.5em;
}


@media (max-width: 600px){
    .contents-container {
        max-width: 100%;
    }
    .textbox {
        font-Size: 3.7vw;
    }
    .button{
        font-Size: 3.7vw;
    }
    .body-text{
        font-size: 1.2em;
    }
}
@media (min-width: 601px){
    .contents-container {
        max-width: 60%;
    }
    .textbox {
        font-Size: 2.5vw;
        max-height: 100px;
        max-width: 400px;
    }
    .button{
        font-Size: 2.5vw;
        max-height: 100px;
        max-width: 300px;
    }
    .error-message{
        font-size: 1em;
    }
    .body-text{
        font-size: 1.5em;
    }
}

@media(min-width: 1000px){
    .contents-container {
        max-width: 60%;
    }
    .title{
        font-size: 2.3em;
    }
    .textbox {
        font-Size: 2vw;
        max-height: 100px;
        max-width: 400px;
    }
    .button{
        font-Size: 2vw;
        max-height: 100px;
        max-width: 300px;
    }
    .error-message{
        font-size: 1em;
    }
    .body-text{
        font-size: 1.9em;
    }
}

@media (min-width: 1900px){
    .contents-container {
        max-width: 60%;
    }
    .title{
        font-size: 3em;
    }
    .textbox {
        font-Size: 2.1vw;
        max-height: 200px;
        max-width: 700px;
    }
    .button{
        font-Size: 2.1vw;
        max-height: 100px;
        max-width: 400px;
    }
    .error-message{
        font-size: 1.5em;
    }
    .body-text{
        font-size: 2.3em;
    }
}

@media (min-width: 2540px){
    .contents-container {
        max-width: 60%;
        padding: 2.5em;
        border-radius: 30px;
    }
    .title{
        font-size: 4.5em;
    }
    .textbox {
        font-Size: 1.7vw;
        max-height: 150px;
        max-width: 600px;
    }
    .button{
        font-Size: 1.7vw;
        max-height: 150px;
        max-width: 350px;
    }
    .body-text{
        font-size: 3em;
    }
}

@media (min-width: 3200px){
    .contents-container {
        max-width: 60%;
        padding: 3em;
        border-radius: 30px;
    }
    .title{
        font-size: 5.5em;
    }
    .textbox {
        font-Size: 2.5vw;
        max-height: 250px;
        max-width: 1000px;
    }
    .button{
        font-Size: 2.5vw;
        max-height: 250px;
        max-width: 600px;
    }
    .body-text{
        font-size: 4.5em;
    }
}

@media (min-width: 3800px){
    .contents-container {
        max-width: 60%;
        padding: 4em;
        border-radius: 40px;
    }
    .title{
        font-size: 6em;
    }
    .textbox {
        font-Size: 2.5vw;
        max-height: 300px;
        max-width: 1200px;
    }
    .button{
        font-Size: 2.5vw;
        max-height: 300px;
        max-width: 648px;
    }
    .body-text{
        font-size: 5em;
    }
}