

.game-card {
    z-index: 1;
    box-sizing: border-box;
    position: relative;
    height: 90%;
    aspect-ratio: 2/3;
    margin: 0em 0.1em;
    border: 0.2em solid black;
    border-radius: 6px;
    background-color: darkgray;
    align-items: center;
    justify-content: center;
}
.game-card:hover{
    transform: scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
}

.game-card .card-text{
    --scale-factor: 1;
    transform: scale(var(--scale-factor));
    font-size: 0.8rem;
}

.game-card-space{
    background-color: green;
}

.game-card-space:hover{
    transform: scale(1);
    box-shadow: none;
}

.red-card{
    color: red;
}

.black-card{
    color: black;
}


.face-up{
    background-color: white;
    font-weight: bold;
}

.face-up:hover{
    transform: scale(1);
    box-shadow: none;
}

.face-down{
    background-color: darkgray;
}

.card-row{
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 4/3;
}

.button-row{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    aspect-ratio: 10/2;
    justify-content: center;

}

.card-row-container{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    z-index: 3;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    aspect-ratio: 4/9;
}

.game-table{
    display: flex;                
    justify-content: center;
    aspect-ratio: 1/1;
    align-items: center;
    position: relative;
    min-height: 650px;
    height: 95%;
    max-height: 95%;
    background-color: green;
    border-radius: 50%;
    border: 4px solid black;
    box-shadow: 0rem 0rem 2rem 1rem rgba(0, 0, 0, 0.4);

}

.game-button{
    transform-origin: center;
    width: 46%;
    padding: 0%;
    margin: 0% 2% 0% 2%;
    aspect-ratio: 20/10;
    font-size: 0.5em;
    font-weight: bold;
    border-radius: 1em;
    border: 0.2em solid black
}

.button-unready{
    background-color: red;
}

.button-unready:hover{
    --button-scale: 1.2;
    background-color: red;
}

.button-ready{
    background-color: green;
}

.button-ready:hover{
    --button-scale: 1.1;
    background-color: green;
    transform: scale(1.1);
}

.button-container{
    transform: translate(var(--button-x)) translateY(var(--button-y));
}


.current-player{
    box-shadow: 0rem 0rem 0.5rem 0.2rem rgb(0, 127, 212);
}

.current-player:hover{
    box-shadow: 0rem 0rem 0.5rem 0.2rem rgb(0, 127, 212);
}


.hidden{
    display: none;
    pointer-events: none;
}

