
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 10%;
    background-color: rgb(170, 170, 170);
    box-sizing: border-box;

}

.header-text {
    font-weight: bold;
    font-size: 2em;
    transition: all 0.3s ease;
}

@media (max-width: 600px){
    .header-text{
        font-size: 2em;
    }
}
@media (min-width: 601px){
    .header-text{
        font-size: 3em;
    }
}

@media (min-width: 1900px){
    .header-text{
        font-size: 4em;
    }
}

@media (min-width: 2540px){
    .header-text{
        font-size: 5em;
    }
}

@media (min-width: 3200px){
    .header-text{
        font-size: 6em;
    }
}

@media (min-width: 3800px){
    .header-text{
        font-size: 7em;
    }
}